@model Travel.Web.ViewModels.ActivityViewModel

@{
    ViewBag.Title = "activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activities</h2>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Activity Type
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Adventure</a></li>
        <li><a href="#">Attractions</a></li>
        <li><a href="#">Tours & Sightseeing</a></li>
        <li><a href="#">Food & Drink</a></li>
        <li><a href="#">Theme Parks</a></li>
        <li><a href="#">Water Activities</a></li>
        <li><a href="#">Private Transfers</a></li>
        <li><a href="#">Family</a></li>
    </ul>
</div>
<br/>

<div class="row">

@foreach (var activity in Model.Activities)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@activity.imageUrl" alt="" style="width: 100% !important;">
            <div class="caption">
                <h4 class="pull-right">@activity.fromPrice</h4>
                <h4>
                    <a href="#">@activity.title</a>
                </h4>
                <p>@activity.supplierName</p>
                <p style="color:darkblue;">@string.Join(",",activity.categories)</p>
            </div>
            <div class="ratings" style="display:inline-block;width:100%">
                <p class="pull-right">@(activity.recommendationScore == "0" ? "" : activity.recommendationScore) </p>
                <p class="pull-left">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
                <p>
                    <a class="pull-right btn btn-primary" href="@Url.Action("Index", "BookActivity", new {@title=activity.title, @largeImageURL=activity.largeImageURL, @fromPrice = activity.fromPrice,@fromOriginalPrice = activity.fromOriginalPrice, @duration = activity.duration, @supplierName = activity.supplierName, @discountType=activity.discountType  }))" >Select</a>
                </p>
            </div>
        </div>
    </div>
}
   

</div>
