@model Travel.Web.ViewModels.ActivityViewModel

@{
    ViewBag.Title = "activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activities</h2>
<div class="row">
@foreach (var activity in Model.Activities)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@activity.imageUrl" alt="">
            <div class="caption">
                <h4 class="pull-right">@activity.fromPrice</h4>
                <h4>
                    <a href="#">@activity.supplierName</a>
                </h4>
                <p>@activity.title</p>
            </div>
            <div class="ratings">
                <p class="pull-right">@activity.recommendationScore</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
                <p>
                    <a href="#" class="pull-right btn btn-primary">Select</a>
                </p>
            </div>
        </div>
    </div>
}
   

</div>
