@model Travel.Web.ViewModels.ItineraryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Itinerary</h2>
<hr />
<div>
    <div class="col-xs-12" style="margin-bottom:20px;border:solid 1px #d3d2d2;display:inline-block;">
        <div class="col-xs-3" style="border-right:solid 1px #d3d2d2; padding: 15px; background-color:#d3d2d2; margin-left:-15px; text-align:center">
            <img src="~/Content/img/departure.png" style="width:50px" />
        </div>
        <div class="col-xs-9" style="padding:10px">
            <div class="col-xs-6">
                <div style="font-weight:bold">
                    @Model.DestinationName -
                </div>
                <div>
                    @Model.OutboundDepartureDatetime
                </div>
            </div>
            <div class="col-xs-6">
                <div style="font-weight:bold">
                    @Model.ArrivalName
                </div>
                <div>
                    @Model.OutboundArrivalDateTime
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12" style="margin-bottom:20px;border:solid 1px #d3d2d2;display:inline-block;">
        <div class="col-xs-3" style="border-right:solid 1px #d3d2d2; padding: 15px; background-color:#d3d2d2; margin-left:-15px; text-align:center">
            <img src="~/Content/img/bus1.png" style="width:50px;" />
        </div>
        <div class="col-xs-9" style="padding:10px;">
            <span style="font-weight:bold">Transfer to hotel</span>
            <div>
                Bus Stop: #9, South Street<br />
                Confirmation no: #7685334
            </div>
        </div>

    </div>
    <div class="col-xs-12" style="margin-bottom:20px;border:solid 1px #d3d2d2;display:inline-block;">
        <div class="col-xs-3" style="border-right:solid 1px #d3d2d2; padding: 15px; background-color:#d3d2d2; margin-left:-15px; text-align:center">
            <img src="~/Content/img/hotel2.png" style="width:90px" />
        </div>
        <div class="col-xs-9" style="padding:10px">
            <div style="font-weight:bold">@Model.HotelName</div>
            <div>@Model.OutboundArrivalDateTime  @(Model.HotelDuration + "nights")</div>
            <div>@Model.BoardBasis</div>
        </div>
    </div>
    <div class="col-xs-12" style="margin-bottom:20px;border:solid 1px #d3d2d2;display:inline-block;">
        <div class="col-xs-3" style="border-right:solid 1px #d3d2d2; padding: 15px; background-color:#d3d2d2; margin-left:-15px; text-align:center">
            <img src="~/Content/img/car.png" style="width:71px; padding:5px" />
        </div>
        <div class="col-xs-9" style="padding:10px">
            <div style="font-weight:bold">Avis Car Rental (pick up)</div>
            Mc donnell Road, North Terminal 12789 </br>
            Confirmation: #4467
        </div>
    </div>

    <div class="col-xs-12" style="margin-bottom:20px;border:solid 1px #d3d2d2;display:inline-block;">
        <div class="col-xs-3" style="border-right:solid 1px #d3d2d2; padding: 15px; background-color:#d3d2d2; margin-left:-15px; text-align:center">
            <img src="~/Content/img/arrival.png" style="width:50px;" />
        </div>
        <div class="col-xs-9" style="padding:10px">
            <div class="col-xs-6" >
                <div style="font-weight:bold">
                    @Model.ArrivalName -
                </div>
                <div>
                    @Model.InboundDepartureTime
                </div>
            </div>
            <div class="col-xs-6" style="font-weight:bold">
                @Model.DestinationName
            </div>
            <div>
                @Model.InboundArrivalTime
            </div>
        </div>
    </div>

</div>

