@model Travel.Web.ViewModels.ItineraryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <h3>Itinerary</h3>
</div>
<hr />

<div class="row">
    <div class="col-lg-12">
        <ul class="timeline">
            <li>
                <div class="timeline-image">
                    <img class="img-circle img-responsive" alt="" src="~/Content/img/takeoffflight.png" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>@Model.DestinationName</h4>
                        <p>@Model.OutboundDepartureDatetime</p>
                        <h4>@Model.ArrivalName</h4>
                        <p>@Model.OutboundArrivalDateTime</p>
                    </div>
                    
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <img class="img-circle img-responsive" alt="" src="~/Content/img/bus.png" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Transfer to hotel</h4>
                        @*<h4 class="subheading">An Agency is Born</h4>*@
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">  Bus Stop: #9, South Street<br />
                Confirmation no: #7685334</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image">
                    <img class="img-circle img-responsive" alt="" src="~/Content/img/hotel.png" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>@Model.HotelName</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            @Model.OutboundArrivalDateTime  @(Model.HotelDuration + "nights")
                        </p>
                        <p class="text-muted">
                           @Model.BoardBasis
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <img class="img-circle img-responsive" alt="" src="~/Content/img/car.png" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Avis Car Rental (pick up)</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">  Mc donnell Road, North Terminal 12789 </br>
            Confirmation: #4467</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image">
                    <img class="img-circle img-responsive" alt="" src="~/Content/img/landingflight.png" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>@Model.ArrivalName</h4>
                        <p>@Model.InboundDepartureTime</p>
                        <h4>@Model.DestinationName</h4>
                        <p>@Model.InboundArrivalTime</p>
                    </div>

                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                     Thank you!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>