@model Travel.Web.ViewModels.DetailsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<div class="row">
    <div class="col-xs-12">
        <img src="~/Content/img/Beach_hotels_landscape.jpg" class="img-responsive" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Latest Features</h3>
    </div>
</div>
<div class="row text-center">

    <div class="col-md-4 col-sm-6 hero-feature">
        <a href="@Url.Action("Index", "Itinerary")">
            <div class="thumbnail">
                <img src="~/Content/img/itenary.png" />
                <div class="caption">
                    <h3>Itinerary</h3>
                    <p>
                        <a href="@Url.Action("Index", "Itinerary", new {@bookingRef=Model.BookingRef })" class="btn btn-primary">See More..</a>
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <a href="@Url.Action("Index", "Weather")">
            <div class="thumbnail">
                <img src="~/Content/img/weather.png" />
                <div class="caption">
                    <h3>Weather</h3>
                    <p>
                        <a href="@Url.Action("Index", "Weather")" class="btn btn-primary">See More..</a>
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <a href="@Url.Action("Index", "Map")">
            <div class="thumbnail">
                <img src="~/Content/img/map.png" />
                <div class="caption">
                    <h3>Map</h3>
                    <p>
                        <a href="@Url.Action("Index", "Map")" class="btn btn-primary">See More..</a>
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <a href="@Url.Action("Index", "Activity")">
            <div class="thumbnail">
                <img src="~/Content/img/activities.png" />
                <div class="caption">
                    <h3>Activities</h3>
                    <p>
                        <a href="@Url.Action("Index", "Activity")" class="btn btn-primary">See More..</a>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-6 hero-feature">
        <a href="@Url.Action("Index", "Notifications")">
            <div class="thumbnail">
                <img src="~/Content/img/notifications.png" />
                <div class="caption">
                    <h3>Notifications</h3>
                    <p>
                        <a href="@Url.Action("Index", "Notifications",new { bookingId = Model.BookingId })" class="btn btn-primary">See More..</a>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-6 hero-feature">
        <a href="@Url.Action("Index", "Contact")">
            <div class="thumbnail">
                <img src="~/Content/img/contactus.jpg" />
                <div class="caption">
                    <h3>Contact Us</h3>
                    <p>
                        <a href="@Url.Action("Index", "Contact")" class="btn btn-primary">See More..</a>
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>