@model Travel.Web.ViewModels.WeatherViewModel

@{
    ViewBag.Title = "Weather Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Weather Information for @Model.WeatherInformation.city.name</h2>
<hr />
<div class="row">
    @foreach (var weath in Model.WeatherInformation.list)
    {
        @*<div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://openweathermap.org/img/w/@(weath.weather.FirstOrDefault().icon).png" alt="">
                <div class="caption">
                    <h4 class="pull-right">@weath.weather.FirstOrDefault().description</h4>
                </div>
                <div class="caption">
                    <h4 class="pull-right">@weath.dt_txt</h4>
                </div>
                <div>
                    <p class="pull-right">@weath.main.temp_max</p>
                    <p class="pull-right">@weath.main.temp_min</p>
                    <p class="pull-right">@weath.main.humidity</p>
                    <p class="pull-right">@weath.main.pressure</p>
                    <p class="pull-right">@weath.main.grnd_level</p>
                </div>
            </div>
        </div>*@

        <div class="col-lg-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="http://openweathermap.org/img/w/@(weath.weather.FirstOrDefault().icon).png" alt="">
                        </div>
                        <div class="col-xs-9 text-right">
                            @{ 
                                System.DateTime dtDateTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc);
                                dtDateTime = dtDateTime.AddSeconds(Math.Round(Convert.ToDouble(weath.dt) / 1000)).ToLocalTime();

                                var epoch = new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc);
                                epoch.AddMilliseconds(Convert.ToDouble(weath.dt));

                                var timeSpan = TimeSpan.FromSeconds(Convert.ToDouble(weath.dt));
                                var localDateTime = epoch.Add(timeSpan).ToLocalTime();
                            }

                            <h4 class="huge" style="font-weight: bold;">@String.Format("{0:dd/MM/yy}", localDateTime)</h4>
                            <p><span  style="font-weight: bold;">MAX temp:</span> @weath.temp.max</p>
                            <p><span  style="font-weight: bold;">MIN temp:</span> @weath.temp.min</p>
                            <p><span  style="font-weight: bold;">Humdidity:</span> @weath.humidity</p>
                            <p><span  style="font-weight: bold;">Pressure:</span> @weath.pressure</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</div>
