@model Travel.Web.ViewModels.NotificationViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alerts</h2>
<hr />
<div class="row" style="margin-top: 20px;">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-calendar"></span> Booking <span style="float:right;">Alert by: <input type="checkbox" name="email" value="Email"> Email <input type="checkbox" name="text" value="Text"> Text <input type="checkbox" checked name="app" value="App"> App</span></div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    @foreach (var notification in Model.Notifications)
                    {
                        <div class="list-group-item" style="min-height:55px;font-size:1.0em;">
                            <i class="fa fa-comment fa-fw"></i><span class="glyphicon @notification.Icon"></span>  @Html.Raw(notification.NotificationText)
                            <span class="pull-right text-muted small">
                                <em>@notification.NotificationDate</em>
                            </span>
                        </div>
                    }

                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-home"></span> In Resort <span style="float:right;">Alert by: <input type="checkbox" name="email" value="Email"> Email <input type="checkbox" name="text" checked value="Text"> Text <input type="checkbox" name="app" value="App"> App</span></div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    @foreach (var notification in Model.InResort)
                    {
                        <div class="list-group-item" style="min-height:55px;font-size:1.0em;">
                            <i class="fa fa-comment fa-fw"></i><span class="glyphicon @notification.Icon"></span>  @Html.Raw(notification.NotificationText)
                            <span class="pull-right text-muted small">
                                <em>@notification.NotificationDate</em>
                            </span>
                        </div>
                    }

                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>