@model Travel.Web.ViewModels.NotificationViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Booking</h2>

    @foreach (var notification in Model.Notifications)
    {
        <div>@notification.NotificationDate - @Html.Raw(@notification.NotificationText)</div>
    }

    <h2>In Resort</h2>
    @foreach (var inResort in Model.InResort)
    {
        <div>@inResort.NotificationDate - @Html.Raw(inResort.NotificationText)</div>
    }
</div>

