@model Travel.Core.DomainEntities.Activity2

@{
    ViewBag.Title = "Activity Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activity Booking</h2>
<hr />
@*<div class="row">

    <div>
        <div>
            <div class="panel-heading">
                <div class="row">

                    <div class="col-xs-12" style="max-height:300px">
                        <img src="@Model.largeImageURL"  alt="">
                        </div>
                   
                    <div class="col-xs-12 panel panel-default" style="margin-top:10px">

                        <p><span style="font-weight: bold;">Title:</span> @Model.supplierName</p>

                        <p><span style="font-weight: bold;">Description:</span> @Model.title</p>
                        <div class="col-xs-9 text-right">



                            <p><span style="font-weight: bold;">duration:</span> @Model.duration</p>

                            <p><span style="font-weight: bold;">fromPrice:</span> @Model.fromPrice</p>

                            <div>
                                <p>
                                    <span style="font-weight: bold;">Adults:</span> @Model.fromPrice
                                    <select>
                                        <option id="1" value="1">1</option>
                                        <option id="2" value="2">2</option>
                                        <option id="3" value="3">3</option>
                                        <option id="4" value="4">4</option>
                                        <option id="5" value="5">5</option>
                                    </select>
                                </p>
                            </div>

                            <div>
                                <p>
                                    <span style="font-weight: bold;">Childrens:</span> @Model.fromPrice
                                    <select>
                                        <option id="1" value="1">1</option>
                                        <option id="2" value="2">2</option>
                                        <option id="3" value="3">3</option>
                                        <option id="4" value="4">4</option>
                                        <option id="5" value="5">5</option>
                                    </select>
                                </p>
                            </div>

                            <div>
                                Activity Total: $28
                            </div>
                            <div>
                                <span>Confirm payment using stored card XXXX XXXX XXXX 1234</span>
                                <span class="btn btn-primary">Book Now</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>*@


<div class="row">
    <div class="col-md-7">
        <img src="@Model.largeImageURL" alt="" class="img-responsive">
    </div>
    <div class="col-md-5">
        <p><span style="font-weight: bold;">Title:</span> @Model.supplierName</p>

        <p><span style="font-weight: bold;">Description:</span> @Model.title</p>
        <p><span style="font-weight: bold;">duration:</span> @Model.duration</p>

        <p><span style="font-weight: bold;">fromPrice:</span> @Model.fromPrice</p>
        <p>
            <span style="font-weight: bold;">Adults:</span> @Model.fromPrice
            <select>
                <option id="1" value="1">1</option>
                <option id="2" value="2">2</option>
                <option id="3" value="3">3</option>
                <option id="4" value="4">4</option>
                <option id="5" value="5">5</option>
            </select>
        </p>
        <p>
            <span style="font-weight: bold;">Childrens:</span> @Model.fromPrice
            <select>
                <option id="1" value="1">1</option>
                <option id="2" value="2">2</option>
                <option id="3" value="3">3</option>
                <option id="4" value="4">4</option>
                <option id="5" value="5">5</option>
            </select>
        </p>
        <div>
            <span style="font-weight: bold;"> Activity Total:</span><span> $28</span>
</div>
        <p>
            <span>Confirm payment using stored card XXXX XXXX XXXX 1234</span>
        </p>
       <p>
           <a class="btn btn-primary" href="#">Book Now</a>
       </p>
        
    </div>
</div>